{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/prop.css' %}">
    <style>

    </style>
</head>

<body>

    <h1>h1 tag</h1>
    <h2>h2 tag</h2>
    <h3>h3 tag</h3>
    <p>
        <marquee behavior="alternate" direction="left">Lorem ipsum dolor sit amet.</marquee>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam autem obcaecati, neque quibusdam sunt adipisci?
    </p>

    <a href="#">Lorem, ipsum.</a>
    <input type="text" placeholder="enter ur name">
    <div id="overflow">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis inventore cupiditate commodi
        velit numquam voluptatem earum quisquam aspernatur ipsum quam consequuntur, delectus dicta dolores magnam beatae
        libero nihil dolorum incidunt amet vero perspiciatis? Harum quis qui eveniet atque asperiores, quia soluta aut
        dolorum consectetur. Aperiam eum cumque sed ab! Exercitationem error inventore vitae recusandae deleniti eveniet
        quisquam aperiam, provident minus, incidunt libero excepturi! Repellat nesciunt, labore maiores unde vero,
        inventore nihil porro consequatur, illum eius quo veritatis fugiat molestiae architecto dignissimos. Odio rerum
        maiores minima iste vitae, eius nemo soluta dolorem id eum voluptatibus! Dolorum delectus minus impedit
        officiis.
    </div>

</body>

</html>