{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/positionsticky.css' %}">
</head>

<body>
    <div id="parent">
        <div class="red"></div>
        <div class="blue"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non explicabo at hic itaque earum illum
            consectetur eum iste! Minus quasi dolorem maiores reiciendis illum amet, consequatur facilis doloremque
            officiis placeat repellendus blanditiis quo labore. Non doloremque molestias iure id perferendis mollitia
            quis! Ullam unde exercitationem eveniet assumenda adipisci non, corrupti et ea aut consequuntur accusamus
            laborum ipsam ducimus magni neque sapiente quo distinctio debitis excepturi consectetur hic officia
            expedita, optio enim. Sint dolor cupiditate aliquam eveniet maxime voluptate tempora accusantium eligendi
            molestiae officiis, explicabo perferendis velit quaerat libero veritatis itaque ducimus blanditiis
            distinctio deserunt. Et facere vero vel a!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non explicabo at hic itaque earum illum
            consectetur eum iste! Minus quasi dolorem maiores reiciendis illum amet, consequatur facilis doloremque
            officiis placeat repellendus blanditiis quo labore. Non doloremque molestias iure id perferendis mollitia
            quis! Ullam unde exercitationem eveniet assumenda adipisci non, corrupti et ea aut consequuntur accusamus
            laborum ipsam ducimus magni neque sapiente quo distinctio debitis excepturi consectetur hic officia
            expedita, optio enim. Sint dolor cupiditate aliquam eveniet maxime voluptate tempora accusantium eligendi
            molestiae officiis, explicabo perferendis velit quaerat libero veritatis itaque ducimus blanditiis
            distinctio deserunt. Et facere vero vel a!
        </p>
        <div class="green"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non explicabo at hic itaque earum illum
            consectetur eum iste! Minus quasi dolorem maiores reiciendis illum amet, consequatur facilis doloremque
            officiis placeat repellendus blanditiis quo labore. Non doloremque molestias iure id perferendis mollitia
            quis! Ullam unde exercitationem eveniet assumenda adipisci non, corrupti et ea aut consequuntur accusamus
            laborum ipsam ducimus magni neque sapiente quo distinctio debitis excepturi consectetur hic officia
            expedita, optio enim. Sint dolor cupiditate aliquam eveniet maxime voluptate tempora accusantium eligendi
            molestiae officiis, explicabo perferendis velit quaerat libero veritatis itaque ducimus blanditiis
            distinctio deserunt. Et facere vero vel a!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non explicabo at hic itaque earum illum
            consectetur eum iste! Minus quasi dolorem maiores reiciendis illum amet, consequatur facilis doloremque
            officiis placeat repellendus blanditiis quo labore. Non doloremque molestias iure id perferendis mollitia
            quis! Ullam unde exercitationem eveniet assumenda adipisci non, corrupti et ea aut consequuntur accusamus
            laborum ipsam ducimus magni neque sapiente quo distinctio debitis excepturi consectetur hic officia
            expedita, optio enim. Sint dolor cupiditate aliquam eveniet maxime voluptate tempora accusantium eligendi
            molestiae officiis, explicabo perferendis velit quaerat libero veritatis itaque ducimus blanditiis
            distinctio deserunt. Et facere vero vel a!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non explicabo at hic itaque earum illum
            consectetur eum iste! Minus quasi dolorem maiores reiciendis illum amet, consequatur facilis doloremque
            officiis placeat repellendus blanditiis quo labore. Non doloremque molestias iure id perferendis mollitia
            quis! Ullam unde exercitationem eveniet assumenda adipisci non, corrupti et ea aut consequuntur accusamus
            laborum ipsam ducimus magni neque sapiente quo distinctio debitis excepturi consectetur hic officia
            expedita, optio enim. Sint dolor cupiditate aliquam eveniet maxime voluptate tempora accusantium eligendi
            molestiae officiis, explicabo perferendis velit quaerat libero veritatis itaque ducimus blanditiis
            distinctio deserunt. Et facere vero vel a!
        </p>
       
    </div>
</body>

</html>