{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'css/positionrelative.css' %}" >  -->
    <!-- <link rel="stylesheet" href="{% static 'css/positionabsolute.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/positionfixed.css' %}">
</head>

<body>

    <div id="parent">
        <div class="red"></div>
        <div class="blue"></div>
        <div class="green"></div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ducimus modi necessitatibus tenetur.
        Recusandae in dignissimos hic delectus unde, tenetur reiciendis illo voluptatem veniam itaque veritatis
        architecto expedita assumenda at ab! Culpa, eaque unde. Neque a minus corporis, asperiores vitae odio et modi
        doloremque repellat. Obcaecati pariatur autem doloremque dolorem laborum est modi qui saepe laboriosam possimus
        magnam animi eius necessitatibus, distinctio explicabo nisi velit? Culpa ex nesciunt debitis asperiores officia
        illum libero natus sint voluptatem sapiente quo dolore tempora repudiandae porro nemo saepe, commodi incidunt
        accusantium hic optio mollitia sequi tenetur? Accusamus modi ut adipisci exercitationem dicta corrupti totam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi et aliquid similique magnam sint odit
        repellat dolore veniam sequi nulla cupiditate nostrum rem quidem inventore est itaque incidunt voluptatem porro
        nemo, quis illo voluptatibus dolorem in! Reprehenderit obcaecati sunt pariatur, eius praesentium fugit suscipit
        eveniet quae ipsam, minus corporis laborum nostrum quia facilis! Hic aperiam quo veniam, facere amet error
        excepturi perferendis vero nemo porro accusantium expedita perspiciatis modi doloribus sapiente suscipit nam
        explicabo officiis quas numquam corporis omnis in dolorem? Obcaecati voluptate molestias explicabo delectus,
        maxime vero a sequi reiciendis quisquam suscipit dolore aperiam exercitationem! Corporis commodi veniam in
        sequi, culpa voluptatum velit tempora eos praesentium fugit reprehenderit. Reiciendis neque voluptate
        necessitatibus explicabo debitis culpa ad quisquam, quis nesciunt dolor soluta deserunt nostrum. Sequi,
        repellendus illo. Adipisci iste consequuntur recusandae rerum error porro sapiente quia at eaque doloremque illo
        eligendi, tenetur sed obcaecati incidunt voluptatibus quos laudantium molestias optio laborum omnis. Suscipit,
        alias corrupti voluptatem fugiat ipsam maxime quibusdam, et pariatur voluptas doloribus quos, a accusamus aut
        deleniti eum. Fuga perspiciatis nisi voluptatum odio consequuntur at cum atque possimus explicabo ex mollitia
        quam optio delectus dicta sit asperiores, eum quasi consequatur. Cum obcaecati illo iusto ipsam illum officiis
        asperiores ducimus repudiandae explicabo quas sequi beatae soluta distinctio suscipit, iure itaque omnis
        numquam. Quae ipsum mollitia vitae! Assumenda adipisci impedit deleniti atque dolorem ipsa rerum, earum nostrum
        reiciendis quisquam, aperiam animi quam odit veritatis natus sed tempore, quia magnam nobis accusantium tenetur
        soluta iusto debitis enim? Autem natus qui aperiam ut, commodi iure nam sequi dolorem doloremque molestiae,
        veniam atque, et id reprehenderit obcaecati optio! Neque voluptatem magnam possimus saepe explicabo, mollitia
        natus tempora cumque sed velit aut eos dolor maxime iste illum assumenda itaque architecto quisquam incidunt
        culpa fuga esse facere. Aut id ut ullam sint saepe fuga suscipit nam libero quasi soluta tempore maxime,
        laudantium illum dolorum nesciunt in, ex culpa voluptatibus! Velit, cupiditate fugit ratione illo ea molestiae
        tenetur fugiat qui, earum praesentium, excepturi nihil blanditiis perferendis? Harum nihil consequatur molestias
        provident tempore? Quaerat cupiditate corporis, non asperiores modi, quo ab praesentium dolorem, quisquam
        voluptate quas molestiae! Voluptatem, possimus deleniti! Repellat temporibus fuga atque in adipisci perspiciatis
        esse odio iste velit odit libero, laborum eveniet quia fugiat cumque aspernatur unde dolores sit eligendi
        commodi ducimus fugit aut ipsam? Odit fugiat repudiandae, architecto cum veniam voluptatibus sapiente tempore
        harum dolorum mollitia laudantium dolorem porro ad id, atque ab aperiam saepe sunt, unde ipsum dolores! Sunt
        quidem in voluptatibus quia eius rem aliquid, delectus, nihil a nostrum autem velit? Maiores harum dolores sit
        veritatis aut doloremque perferendis dolorem magnam modi quaerat velit officiis, voluptatem distinctio eos?
        Quasi obcaecati itaque provident similique esse, officiis nam ex eveniet tenetur vel maxime, praesentium hic sed
        vero placeat possimus iusto rerum, est sequi? Nostrum maxime omnis sit voluptates amet aperiam hic. Doloribus
        dolorum vitae molestias totam aperiam, a quos libero, expedita quibusdam maiores dolore iusto facere nam cum
        necessitatibus, deleniti quaerat. Esse possimus qui quo velit nihil ea ipsam nam nobis, laborum, architecto
        voluptate amet voluptatum perspiciatis doloremque numquam veniam soluta dignissimos optio ullam quisquam
        inventore? Exercitationem ullam vitae, itaque atque doloribus eaque facilis commodi voluptas magni officiis sunt
        perspiciatis sapiente qui tempore at, unde animi, sit minus reprehenderit! Quas modi deleniti culpa excepturi
        commodi nobis sequi debitis veniam, ad aliquid reiciendis temporibus, blanditiis voluptatum aut exercitationem
        alias! Porro sunt, minima ad sed, commodi expedita esse veniam repudiandae aliquid animi neque, dolor voluptate
        ea obcaecati odio tempore hic consequatur asperiores itaque illo at vel eligendi debitis quisquam. Inventore
        eligendi repellendus cupiditate dolores quam mollitia minima, itaque eveniet et maiores atque consectetur,
        quaerat sed blanditiis dicta vero ullam molestias rerum. Consectetur, odit voluptatem esse in, repellat autem
        repellendus, adipisci optio rem eaque laudantium libero aliquam repudiandae quaerat molestiae necessitatibus
        ducimus expedita quia voluptas sunt iusto totam blanditiis! Quod, sunt. Cum earum culpa velit. Aliquam, at
        cupiditate ab eaque sapiente ratione odit perferendis nostrum unde non? Ipsa nulla incidunt cum, fugiat at non
        eum voluptas sint aperiam molestiae adipisci provident nihil reprehenderit voluptate dignissimos deserunt dolore
        perspiciatis exercitationem inventore, possimus magnam, quia minima eveniet. Qui magni recusandae, earum sint
        sapiente itaque obcaecati amet adipisci non aperiam, at illum nam veritatis nihil atque. Voluptatibus sunt
        adipisci animi, possimus, dolor odit nesciunt veritatis delectus iste quibusdam repudiandae. Ipsum officia ullam
        tempore ipsa maiores adipisci possimus quibusdam, provident qui nobis? Magni consequatur praesentium porro
        temporibus voluptate numquam dolore pariatur voluptatibus repellat, laboriosam amet velit adipisci earum maiores
        fuga, repudiandae ducimus! Blanditiis sit maxime enim magnam asperiores quasi, quam architecto ipsa ratione at
        dolorem vero qui mollitia commodi unde nostrum reprehenderit, nisi reiciendis, repellat animi distinctio
        deleniti veritatis quia ad! Doloremque sit nam ipsam ipsa fuga debitis, qui error saepe, repellat alias nihil
        sed vel ducimus sint, explicabo cupiditate. Odio sit cupiditate voluptates. Rerum in ratione officiis sunt alias
        corporis sit excepturi magni error nisi temporibus soluta reprehenderit itaque assumenda modi, voluptatum
        consequatur. Earum expedita quod architecto quos optio. Tenetur soluta repudiandae illo itaque inventore
        eveniet, vel expedita eligendi architecto ipsa molestiae recusandae ducimus. Fugit laudantium hic, sunt nam fuga
        eligendi itaque nulla eveniet saepe facere quisquam corrupti voluptatem ea maiores, rem iste, sapiente id et
        dolor error culpa debitis ipsum corporis possimus! A hic inventore similique, distinctio reprehenderit
        consequuntur quas minima quibusdam omnis veritatis sequi neque? Dignissimos, aspernatur impedit. Nesciunt
        architecto totam porro nam ab, perferendis et libero rerum! Quidem, eum autem ducimus beatae sed fuga eligendi
        obcaecati quaerat iusto voluptatem quae aliquid nisi non deserunt magni repellat ea similique animi qui
        consectetur ullam inventore odio. Consequuntur alias, autem provident repellendus earum in, perspiciatis nisi
        nemo ratione aperiam reprehenderit totam nulla possimus dolorem! Ratione, hic! Voluptatem placeat voluptates
        dolore aliquam ex debitis vero nemo dolorum, voluptas sequi soluta incidunt excepturi quam cum tempora, a ea
        ratione consequatur magni earum, nostrum expedita? Consequuntur quos libero quo sequi voluptatem illum, tenetur
        non ipsum saepe ex illo? Quis iste quae esse quod minus veritatis autem delectus. Quo, deserunt sed. Nesciunt
        iste illum odit repellendus est hic delectus rem esse odio accusamus!
    </p>


</body>

</html>