{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <style>
            #div1{
                position:absolute;
                background-color: black;
                /* height: 300px;
                width: 300px; */
                height: 100px;
                width: 100px;
            }
        </style>
</head>
<body>
    <input type="button" value="anm1" id="anm1">
    <input type="button" value="anm2" id="anm2">
    <input type="button" value="anm3" id="anm3">
    <input type="button" value="anm4" id="anm4">

    <div id="div1">

    </div>
    
    <script>
        $(document).ready(function(){
            $('#anm1').click(function (){
                $('#div1').animate({
                    left:'250px',
                    opacity:'0.5',
                    height:'150px',
                    width:'150px'
                })
            })
            $('#anm2').click(function (){
                $('#div1').animate({
                    left:'250px',
                    height:'+=150px',
                    width:'+=150px'
                })
            })
            $('#anm3').click(function (){
                $('#div1').animate({
            
                    height:'toggle'
                    
                })
            })
            $('#anm4').click(function (){
                var a=$('#div1')
                a.animate({height:'300px',opacity:'0.4' },'slow')
                a.animate({width:'300px',opacity:'0.8' },'slow')
                a.animate({height:'100px',opacity:'0.4' },'slow')
                a.animate({width:'100px',opacity:'0.8' },'slow')
            })

            
        })
    </script>
</body>
</html>