{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        #div1 {
            height: 400px;
            width: 500px;
            /* background-color: black; */
        }
    </style> -->

</head>

<body>
    <!-- <input type="button" value="ok" onclick="alert('hlo')">
    <script>
        document.write("welcome")
    </script> -->
    <!-- <script src="{% static 'js/js.js' %}"></script> -->
    <!-- <script src="{% static 'js/condition.js' %}"></script> -->
    <!-- <script src="{% static 'js/loop.js' %}"></script> -->
    <!-- <script src="{% static 'js/function.js' %}"></script> -->
    <!-- <script src="{% static 'js/nestedloop.js' %}"></script> -->
    <!-- <script src="{% static 'js/work.js' %}"></script> -->
    <script src="{% static 'js/work1.js' %}"></script>
  

    <!-- dom -->
    <!-- <div id="div1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi error vitae perspiciatis dolorem alias quae quia,
        est earum doloribus porro eligendi? Consequatur, molestiae maiores! Animi ducimus consectetur sit non enim!
    </div>
    <input type="button" value="clk" id="btn1" onclick="alerts()">
    <input type="button" value="change" onclick="ToggleTheme()">

     /dom 

    <script src="{% static 'js/dom.js' %}"></script> --> 

</body>

</html>