<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: black; height: 300px;" >
        <a href="{% url 'common:adminlogin' %}">admin login</a><br/>
        <a href="{% url 'common:customerlogin' %}">customer login</a><br/>
        <a href="{% url 'common:sellerlogin' %}">seller login</a>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <div style="background-color: violet; height: 300px;"><h1>footer</h1></div>
    </body>
</body>
</html>