<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>seller login</h1>

    <h1>new changes</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat necessitatibus deleniti veritatis fugit
        adipisci ipsam quasi laboriosam omnis aperiam exercitationem!</p>

    <h4>asgrshstj</h4>
    
</body>

</html>