p{
    color:green;
    background-color: yellow;
}

.abc{
    background-color: aqua;
    color: blue;
    font-size: 30px;
}

#para1{
    background-color: tomato;
    font-style: italic;
}

#para2 span{
    font-style: oblique;
    background-color: violet;
}